<script src="https://giscus.app/client.js"
        data-repo="Heiss/digital-garden"
        data-repo-id="R_kgDOLt8Qzg"
        data-category="General"
        data-category-id="DIC_kwDOLt8Qzs4CercF"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="de"
        crossorigin="anonymous"
        async>
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
