<script>
const readspeed = 200;
const minutes = Math.ceil($(".content").textContent.split(/\s+/).length / readspeed);
let element = document.createElement("div");
element.innerHTML = '<i icon-name="book-open-text"></i> <span>' + minutes + ' min read </span>';
$('.timestamps').append(element);
</script>

<div class="header-readtime" />
